/*Created by Jonas Brückner & Maximilian Gerst on*/

/*Style of the whole body*/
body {
    background-color: #0cc7d3; /*Background-color = LiU Color*/
}
/*Style of the Heading of the boxes*/
header{
    text-align: center; /*Get the heading in the center of the box*/
    resize: both; /*element is resizable by the user*/
}

/*Style of the labels*/
label{
    font-size: small; /*Size of the font*/
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
    font-size: x-small;
    font-family: Calibri, Arial, "sans-serif";
    width: auto;
    padding: auto auto;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: right;
    top: auto;
    bottom: auto;
}

select{
    float: right;
    font-size: x-small;
    font-family: Calibri, Arial, "sans-serif";
    width: auto;
    height: 5%;
}

/* Set a style for all buttons */
button {
    background-color: #0cc7d3;
    color: white;
    padding: auto;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 125px;
    float: right;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: auto auto;
    background-color: #f44336;
}



/* Sign_In */
div.container1 {
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 237px;
    height: 93px;
    padding-top:3px;
    padding-left:3px;
    padding-right: 6px;
    margin-bottom: 10px;

}

/*Sign_Up*/
div.container2 {
    font-family: Calibri, Arial, "sans-serif";
    font-size: large;
    border: 2px solid #687f91;
    background-color: white;
    width: 237px;
    height: 283px;
    padding-top:3px;
    padding-left:3px;
    padding-right: 6px;



}

IMG.displayed {
    border: 2px solid #687f91;
    height: 396px;
    width: 336px;
    float: left;
    margin-right: 10px;



}
div.container_welcome{
      float: left;
}

div.container_all{
    height: 400px;
    width: 600px;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
}


/*tab*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #687f91;
    overflow: hidden;

}

li {
    float: left;
    font-size: large;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover(.active) {
    background-color: #0cc7d3;
}


#homebtn, #accoutbtn, #browsebtn{
    background-color: transparent;
    font-size: medium;
}

/*browserTab*/

div.contaier_all_browse{
    height: 400px;
    width: 900px;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
}

div.search{
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 230px;
    height: 95px;
    padding-top:3px;
    padding-left:6px;
    padding-right: 6px;
    margin-right: 10px;
    float:left;
}

div.wall{
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 230px;
    height: auto;
    padding-top:3px;
    padding-left:6px;
    padding-right: 6px;
    margin-right: 10px;
    float:left;
}

#wall{
    height:145px;
    width: 230px;
    margin-bottom: 10px;
}
#new_message{
    width: 230px;
}
#search_email{
    width:230px;
}

#browse_message{ /*Massage Wall of searched user: Max*/
    font-family: Calibri, Arial, "sans-serif";
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    width: 230px;
    height: auto;
    float:left;
}

/*homeTab*/
div.container_all_home{
    height: 400px;
    width: 800px;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
}

div.information{
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 230px;
    height: 200px;
    padding-top:3px;
    padding-left:6px;
    padding-right: 6px;
    margin-right: 10px;
    float:left;
}


div.posted_messages{
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 230px;
    height: 235px;
    padding-top:6px;
    padding-left:6px;
    padding-right: 6px;
    margin-right: 10px;
    float:left;
}

#my_messages{
    height:145px;
    width: 230px;
}

#new_selfmessage{
    width: 230px;
}


/*accountTab*/
div.container_all_acc{
    height: 400px;
    width: 600px;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
}

#submitbtn {
    background-color: #0cc7d3;
    color: white;
    padding: auto;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 125px;
    float: right;
}



div.account{
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 270px;
    height: 175px;
    padding-top:3px;
    padding-left:3px;
    padding-right: 6px;
    margin-bottom: 10px;
}

#OldPW, #NewPW, #RNewPW{
    float:right;
    font-size: small;

}

#logout {
    background-color: #ff6442;
    color: white;
    padding: auto ;
    margin: 8px 0;
    border: 2px solid #687f91;
    cursor: pointer;
    width: 125px;
    float: left;
    margin-left: 25%;
}

div.information_other{
    font-family: Calibri, Arial, "sans-serif";
    border: 2px solid #687f91;
    background-color: white;
    width: 230px;
    height: 200px;
    padding-top:3px;
    padding-left:6px;
    padding-right: 6px;
    margin-right: 10px;
    float: left;

}

#my_messages{
     font-family: Calibri, Arial, "sans-serif";
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    width: 230px;
    height: auto;
    float:left;
}